header h1.post-title {
  display: inline-block;
  background-color: $sidebar-bg-color;
  color: white;
  margin-left: -6rem;
  padding-left: 6rem;
  padding-right: 3rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
}

header h1.page-title {
  display: inline-block;
  background-color: $sidebar-bg-color;
  color: white;
  margin-left: -6rem;
  padding-left: 6rem;
  padding-right: 3rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
}

.container > .content {
  padding-top: 1rem;
}

.table-wrapper {
  width: 68%;
}

.textwrap {
  float: right;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.clear {
  clear: both;
}

h2,h3,h4 {
  clear: both;
}

article {
  clear: both;
}

.footnotes {
  clear: both;
}