---
layout: page
title: blog
pagination:
  enabled: true
  sort_reverse: true
  category: blog
---


{% for post in paginator.posts %}
<article class="post-body">
  <h2 class="post-title">
    <a href="{{ site.baseurl }}{{ post.url }}">
      {{ post.title }}
    </a>
  </h2>
  {% include post-meta.html post=post %}

  {{ post.content }}

  <p><br /><a class="comments_link" href="{{ site.baseurl }}{{ post.url }}#comments">to the comments</a></p>
</article>
{% endfor %}

{% include pagination-older.html %}
